fastapi
uvicorn
redis
python-dotenv
playwright
beautifulsoup4
langchain-text-splitters
psycopg2-binary
langgraph
langchain
langchain_community
langchain-tavily
langchain-groq          # Wrapper for Llama 3
langchain-google-genai  # Wrapper for Embeddings
langchain-pinecone      # Wrapper for Vector DB
pydantic                # Required for data validation

langchain-text-splitters